<li class="activity-checkbox">
  <input id="checkbox<%= activity.id %>" type="checkbox" name="itinerary[activity_ids][]" value="<%= activity.id %>">
  <label class="checkbox-label" for="checkbox<%= activity.id %>"><%= activity.description %><br>@<%= activity.venue %></label>
</li>