<h2 class="search-header">top 10 favorited itineraries</h2>


<% @top_ten.each do |itin| %>


<a class="itinerary-description-blob" href="<%= itinerary_url(itin.id) %>">
  <ul class="itinerary-search-result">
    <li class="itinerary-title"><%= itin.description %>
      <small class="time-blob">(<%= itin.time %>)</small>
    </li>
    
    <ul>
      <li class="activity-group group">

          <% itin.activities.each do |activity| %>
          <a href="<%= activity_url(activity.id) %>">

        <ul class="activity-blob mini-activity-blob">
          <li class="activity-title">
            <%= activity.description %>
          </li>
          <ul>
        
            <li>@ <%= activity.venue %></li>
            <li class="address-line">[ <%= activity.address %> ]</li>
            <li>#<%= activity.tags.map{|tag| tag.name}.join(" #") %></li>
          </ul>
        </ul>
      </a>

          <% end %>
    

      </li>
    </ul>
  
  
  
</ul></a>
<% end %>