<div id="sign-in-form" class="padded group">
<h2>sign up for wanderful</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



  <div><label>email</label><br />
  <%= f.email_field :email, :autofocus => true %></div>


  <div><label>username</label><br />
  <%= f.text_field :username %></div>

  <div><label>password</label><br />
  <%= f.password_field :password %></div>

  <div><label>password confirmation</label><br />
  <%= f.password_field :password_confirmation %></div>
  <br>
  <%= render "devise/shared/links" %>
  <br>

  <div><%= f.submit "sign up" %></div>
<% end %>

</div>