<section class="head-info">
<h1><%= @user.username %></h1>

<% if current_user.id != @user.id %>




<form class="friend-form">

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="friendship[friend_id]" value="<%= @user.id %>">


<div class="friend-buttons
  <% if current_user.friend_ids.include?(@user.id) %>
  friended
  <% end %>
">
  <input class="friend-button" type="submit" value="follow">
  <input class="unfriend-button" type="submit" value="unfollow">
  
  
</div>
</form>




<% end %>
</section>
<h3 class="header-text">added activities</h3>

<ul class="activity-group group">
  <% @user.activities.each do |activity| %>
  <li class="activity-blob"><%= link_to activity.description, activity_url(activity.id), class: "activity-title" %>
    <ul>
      <li>venue: <%= activity.venue %></li>
      <li>neighborhood: <%= activity.neighborhood %></li>
      <li>tags: #<%= activity.tags.map{|tag| tag.name}.join(" #") %></li>
    </ul>
  </li>
  <% end %>
</ul>

<h3>added itineraries</h3>
<ul class="itinerary-group group">
  <% @user.itineraries.each do |itinerary| %>
  <ul class="itinerary-search-result">

    <li><%= link_to itinerary.description, itinerary_url(itinerary.id), class: "itinerary-description-blob" %>
    
      <small class="time-blob">(<%= itinerary.time %>)</small>
      
    </li>
  </ul>
    
  <% end %>
</ul>

<h3>favorite itineraries</h3>

<ul class="itinerary-group favorites-group group">
  <% @user.favorite_itineraries.each do |itinerary| %>
  <ul class="itinerary-search-result">
  <li><%= link_to itinerary.description, itinerary_url(itinerary.id), class: "itinerary-description-blob" %>
    <small class="time-blob">(<%= itinerary.time %>)</small>
  </li>
  </ul>
  <% end %>
</ul>

<script>




$('.friend-form').on("click", 'input[type="submit"]', function(event) {
  event.preventDefault();
  var that = $(this);
  if ($(this).attr('class') === "unfriend-button") {

  if ($(this).attr('id')) {
    var id = $(this).attr('id');
  } else {
    var id = "<%= @friendship_id %>";
  }
  $.ajax({
    
    url: "/friendships/" + id + ".json",
    type: "DELETE",
    success: function(response) {
      $(that).parent().toggleClass('friended');
    }
  });


  } else if ($(this).attr('class') === 'friend-button') {
      $.ajax({
        url: "<%= friendships_url %>" + ".json",
        type: "POST",
        data: {"friendship": {"friend_id": <%= @user.id %>}},
        success: function(response) {
          $(that).parent().toggleClass('friended');
          $('.unfriend-button').attr('id', response.id);
        }
      });
    
  }
});




</script>

