<h1>user show page</h1>

<%= @user.username %>

<h3>your activities</h3>

<ul>
  <% @user.activities.each do |activity| %>
  <li><%= link_to activity.description, activity_url(activity.id) %>
    <ul>
      <li>venue: <%= activity.venue %></li>
      <li>neighborhood: <%= activity.neighborhood %></li>
      <li>tags: <%= activity.tags.map{|tag| tag.name}.join(", ") %></li>
    </ul>
  </li>
  <% end %>
</ul>

<h3>your itineraries</h3>
<ul>
  <% @user.itineraries.each do |itinerary| %>
    <li><%= link_to itinerary.description, itinerary_url(itinerary.id) %></li>
  <% end %>
</ul>

<h3>your favorite itineraries</h3>

