<h1>home!</h1>


<section>
  
  <%= button_to "your profile", user_url(current_user.id), method: :get %>
</section>

<h3>hello!</h3>
<section class="buttons_group">
  <button class="find_button">find something to do</button>
  <button class="share_button">share something to do</button>
</section>

<section class="share_something">
  <h3>share stuff to do</h3>
  <%= button_to "add an activity", new_activity_url, method: :get %>
  <%= button_to "add an itinerary", new_itinerary_url, method: :get %>
  <button class="back_button">back</button>
</section>

<section class="find_something">
  <h3>find something to do</h3>
  <button class="search_button">search for something to do</button>
  <%= button_to "see what other people are up to", all_users_url, method: :get %>  
  <%= button_to "find something random to do", itinerary_url(Itinerary.get_random.id), method: :get %>
  <button class="back_button">back</button>
</section>

<section class="query_group">
  <h2>search for an activity</h2>
  
  
  
  <form action="<%= search_activities_url %>" method="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <label>by neighborhood</label><br>
    <select name="search[neighborhood]">
      <option value="nil"></option>
      <% Activity.all_neighborhoods.each do |neighborhood| %>
      <option value="<%= neighborhood %>"><%= neighborhood %></option>
      <% end %>
    </select>
    <br><label>by tags</label><br>
        
    <label for="product_name">search: #</label>
      <input data-autocomplete="/tags/autocomplete_tag_name" name="search[tags]" size="20" type="text" data-delimiter=" #" multiple="true"/>


      <input type="submit" value="submit">
  </form>
  
  
  
  <h2>search for itineraries</h2>
  
  <form action="<%= search_itineraries_url %>" method="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>time you have to spare</label>
    <select name="search[itinerary][time]">
      <option value=""></option>
      <% Itinerary.get_times.each_with_index do |time, index| %>
        <option value="<%= index %>"><%= time %></option>
      <% end %>
    </select>
    
    <br>
    <label>by neighborhood</label><br>
    <select name="search[activity][search][neighborhood]">
      <option value="nil"></option>
      <% Activity.all_neighborhoods.each do |neighborhood| %>
      <option value="<%= neighborhood %>"><%= neighborhood %></option>
      <% end %>
    </select>
    <br><label>by tags</label><br>
    
    
    
        
    <label for="product_name">search: #</label>
      <input data-autocomplete="/tags/autocomplete_tag_name" name="search[activity][search][tags]" size="20" type="text" data-delimiter=" #" multiple="true"/>
    
    
    
    

    
    <input type="submit" value="SEARCH">
  </form>
  
  <br><br>
  

  <button class="back_button">back</button>
</section>

<script type="application/javascript">


  $(function() {
    $(".share_something").css("display", "none");
    $(".find_something").css("display", "none");
    $(".query_group").css("display", "none");
  });

  $(".find_button").on("click", function(){
    $(".find_something").css("display", "block");
    $(".buttons_group").css("display", "none");
  });
  
  $(".share_button").on("click", function() {
    $(".share_something").css("display", "block");
    $(".buttons_group").css("display", "none");
  });
  
  $(".share_something").find(".back_button").on("click", function() {
    $(".buttons_group").css("display", "block");
    $(".share_something").css("display", "none");
    $(".find_something").css("display", "none");
  });

  $(".find_something").find(".back_button").on("click", function() {
    $(".buttons_group").css("display", "block");
    $(".share_something").css("display", "none");
    $(".find_something").css("display", "none");
  });
  
  $(".search_button").on("click", function() {
    $(".find_something").css("display", "none");
    $(".query_group").css("display", "block")
  });
  
  $(".query_group").find(".back_button").on("click", function() {
    $(".query_group").css("display", "none");
    $(".find_something").css("display", "block");
  });
  

  
</script>