
<section class="intro group">



  <%= button_to "your profile", user_url(current_user.id), method: :get %>

</section>
<section class="buttons_group group">
  <button class="find_button">find something to do</button>
  <button class="share_button">share something to do</button>
</section>

<section class="share_something">
  <h3>share stuff to do</h3>
  <%= button_to "add an activity", new_activity_url, method: :get %>
  <%= button_to "add an itinerary", new_itinerary_url, method: :get %>
  <input type="submit" class="back_button" value="back">
</section>

<section class="find_something">
  <h3>find something to do</h3>
  <button class="search_button">search for something to do</button>
  <%= button_to "see what other people are up to", all_users_url, method: :get, class: "big-button" %>  
  <%= button_to "find something random to do", itinerary_url(Itinerary.get_random.id), method: :get, class: "big-button" %>
  <input type="submit" class="back_button small-button" value="back">
</section>

<section class="query_group group">
  <h2>search for activities</h2>
  <section class="activity-search-form group">
  
  
  <form action="<%= search_activities_url %>" method="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <label>by neighborhood</label>
    <select name="search[neighborhood]">
      <option value="nil"></option>
      <% Activity.all_neighborhoods.each do |neighborhood| %>
      <option value="<%= neighborhood %>"><%= neighborhood %></option>
      <% end %>
    </select><br><br>
    <label>by tags</label>
        
    <label>search: #</label>
      <input data-autocomplete="/tags/autocomplete_tag_name" name="search[tags]" size="20" type="text" data-delimiter=" #" multiple="true"/>
      <br><br>

      <input class="search-button" type="submit" value="search">
  </form>
  </section>
  
  
  <h2>search for itineraries</h2>
  <form class="itinerary-search-form group" action="<%= search_itineraries_url %>" method="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>time you have to spare
    <select name="search[itinerary][time]">
      <option value=""></option>
      <% Itinerary.get_times.each_with_index do |time, index| %>
        <option value="<%= index %>"><%= time %></option>
      <% end %>
    </select>
    </label>
    
    <br><br>
    <label>by neighborhood
    <select name="search[activity][search][neighborhood]">
      <option value="nil"></option>
      <% Activity.all_neighborhoods.each do |neighborhood| %>
      <option value="<%= neighborhood %>"><%= neighborhood %></option>
      <% end %>
    </select>
    </label>
    <br><br>    
    
    
    <label for="product_name">by tags: #
      <input data-autocomplete="/tags/autocomplete_tag_name" name="search[activity][search][tags]" size="20" type="text" data-delimiter=" #" multiple="true"/>
    </label>
    <br><br>
    
    <input class="search-button" type="submit" value="search">
  </form>
  <br><br>
  

  <input type="submit" class="back_button" value="back">
</section>

<script type="application/javascript">

  $(document).ready($('.find_button').addClass("animated fadeInLeftBig"));
  $(document).ready($('.share_button').addClass("animated fadeInRightBig"));

  $(function() {
    $(".share_something").css("display", "none");
    $(".find_something").css("display", "none");
    $(".query_group").css("display", "none");
  });

  $(".find_button").on("click", function(){
    $(".find_something").css("display", "block");
    $(".buttons_group").css("display", "none");
  });
  
  $(".share_button").on("click", function() {
    $(".share_something").css("display", "block");
    $(".buttons_group").css("display", "none");
  });
  
  $(".share_something").find(".back_button").on("click", function() {
    $(".buttons_group").css("display", "block");
    $(".share_something").css("display", "none");
    $(".find_something").css("display", "none");
  });

  $(".find_something").find(".back_button").on("click", function() {
    $(".buttons_group").css("display", "block");
    $(".share_something").css("display", "none");
    $(".find_something").css("display", "none");
  });
  
  $(".search_button").on("click", function() {
    $(".find_something").css("display", "none");
    $(".query_group").css("display", "block")
  });
  
  $(".query_group").find(".back_button").on("click", function() {
    $(".query_group").css("display", "none");
    $(".find_something").css("display", "block");
  });
  

  
</script>