<% hash = @activity.comments_by_parent %>

<ul>
  
  <small class="lefty"><%= comment.user.username %> wrote</small> 
  <small class="righty"><%= time_ago_in_words(comment.created_at) %> ago</small>
  <br><br>
  <p><%= comment.body %></p>
  <br><br>
  <input type="button" value="reply" class="reply-button">
  <form class="new-comment-section comments-form" action="<%= comments_url %>" method="post" data-remote="true" style="visibility: hidden;">

    <input class="body-stuff" type="text" name="comment[body]" class="lefty">
    <input type="hidden" name="comment[parent_comment_id]" value="<%= comment.id %>">
    <input type="hidden" name="comment[activity_id]" value="<%= comment.activity.id %>">
    <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
    <input type="submit" value="comment" class="add-comment-button">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>


  <% children.each do |child| %>
    <li>
      <%= render partial: "comments", locals: { comment: child, children: hash[child.id] } %>
    </li>
  <% end %>

</ul>

<script>
$('.reply-button').on('click', function(event){
  event.preventDefault();
  
  $(this).parent().find('.comments-form').first().css('visibility', 'visible');
  $(this).css('display', 'none');
});

</script>