<!-- <h3>activity show page</h3> -->

<% if @activity.user_id == current_user.id %>
  <%= link_to "edit this activity", edit_activity_url(@activity.id), class: "edit-link" %>
<% end %>


<ul>
  <li class="activity-title">
    <%= @activity.description %>
  </li>
  <br><br>
  <li>
    <!-- venue: -->
    @<%= @activity.venue %>
  </li>
  <br><br>
  <li>
    <!-- location: -->
    [<%= @activity.address %>]
  </li>
  <br><br>
  <li>
    <div id="map-canvas" style="margin: 0; padding: 0; height: 200px; width: 400px;"></div>
  
  </li>
  <br><br>
  <li>
    <!-- tags:  -->
    #<%= @activity.tags.map{|tag| tag.name}.join(" #") %>
  </li>
  <br><br>
  <li>
    <% if @activity.activity_photo_file_size %>
      <%= image_tag @activity.activity_photo.url(:big) %>
    <% end %>
    
  </li>

</ul>
<section class="comments-section">
<h2>comments</h2>






<!-- <%# if @activity.comments.count == 0 %>
<p>no comments yet</p>
<%# end %> -->



<ul class="outer-list">
  
<% unless @activity.comments.count == 0 %>

  <% hash = @activity.comments_by_parent %>
  <% @first_comment = hash[nil] %>
  <% @first_comment.each do |child| %>
  <li>
    <%= render partial: "comments", locals: {comment: child, children: hash[child.id] }  %>
  </li>
  <% end %>
<% end %>

</ul>


<form class="new-comment-section first-one" action="<%= comments_url %>" method="post" data-remote="true">
  <input class="body-stuff" type="text" name="comment[body]" class="lefty">
  <input type="hidden" name="comment[activity_id]" value="<%= @activity.id %>">
  <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
  <input type="submit" value="comment" class="add-comment-button">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>






</section>

<script>


$(document).ready(function(){

  $(".outer-list").on("ajax:success", '.comments-form', function(event, data){
    
    
    console.log(data);
    $(this).parent().append(data);
    
    $('.body-stuff').val("");
    
  });
  
  $(".first-one").on("ajax:success", function(event, data){
    
    $('.outer-list').append(data);
    
    $('.body-stuff').val("");
    
  });
  
});





</script>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script>
google.maps.visualRefresh = true;

  var map;
  var lat = <%= @activity.latitude %>;
  var lng = <%= @activity.longitude %>;
  function initialize() {
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(lat, lng),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    marker = new google.maps.Marker({
       map:map,
       draggable:false,
       animation: google.maps.Animation.DROP,
       position: new google.maps.LatLng(lat, lng)
     });
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>