<!DOCTYPE html>
<html>
<head>
  <title>Wanderful</title>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  

  <%= yield :head %>
</head>
<body>
  

  
  
  <div class="container">


    
    <div class="nav-buttons">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="top-buttons group">





        <% if user_signed_in? %>
          <%= button_to "home", root_url, class: "home-button" %>
          <%= button_to " sign \nout", destroy_user_session_url, method: :delete, class: "logout-button", id: "sign-out-button" %>
        <% end %>
  
      </div>
  
    </div>
    
    <div id="logo-div">
      <figure id="wanderful-logo"></figure>
    </div>
    
    <%= yield %>

  </div>
  

  
  
  
</body>
</html>
