<!DOCTYPE html>
<html>
<head>
  <title>Capstone</title>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= javascript_include_tag "autocomplete-rails.js" %>

  
</head>
<body>
  <div class="container">
    <div class="nav-buttons">
      <div class="top-buttons group">
        <%= button_to "home", root_url, class: "home-button" %>


  <% if user_signed_in? %>
    <%= button_to "sign out", destroy_user_session_url, method: :delete, class: "logout-button" %>
  <% end %>
  
    </div>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </div>
<%= yield %>

  </div>
  
  
  
</body>
</html>
